body {
    background-color: #ccc;
    display: flex;
    justify-content: center;
    padding-top: 5vh;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

label, input, button {
    font-size: 1.5rem;
    border-radius: 5px;
}

.form-item {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-button-group {
    display: flex;
    justify-content: space-between;
}

.valid {
    background-color: #b6ffb6;
}

.invalid {
    background-color: #ffb6b6;
}

.error {
    position: absolute;
    color: red;
}

#email-error {
    top: 150px;
}

#country-error {
    top: 245px;
}

#postal-error {
    top: 340px;
}

#password-error {
    top: 435px;
}

#password-confirm-error {
    top: 530px;
}